<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.campusbuzzlive.campusbuzzlive">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".ChangePassword" />
        <activity
            android:name=".RadioActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Campus Buzz Live!"
            android:parentActivityName=".ChangePassword"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.campusbuzzlive.campusbuzzlive.ChangePassword" />
        </activity>
        <activity android:name=".UpdatePhoneNo" />
        <activity android:name=".UpdateEmail"></activity>
    </application>

</manifest>